/* Base Navbar */
.navbar {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  padding: 15px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
  font-family: "Poppins";
}

.navbar .container {
  /* max-width: 1800px; */
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.logo img {
  height: 40px; /* adjust based on your logo */
  object-fit: contain;
  display: block;
  margin: 0px;
}

/* Desktop Nav */
.nav-links {
  list-style: none;
  display: flex;
  justify-content: space-around; /* equal space around each item */
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.nav-links li a {
  text-decoration: none;
  color: #526270;
  font-size: 18px;
  font-weight: 400;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: #0066ff;
}

/* Active Link */
.active-link {
  color: #0066ff !important;
  font-weight: 600;

  padding-bottom: 3px;
}

/* Desktop Actions */
.nav-actions {
  display: flex;
  gap: 10px;
}

.btn-outline {
  padding: 8px 15px;
  border: 1px solid #0066ff;
  background: #fff;
  color: #0066ff;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
  font-family: "Poppins";
}

.btn-outline:hover {
  background: #0066ff;
  color: #fff;
}

.btn-primary {
  padding: 8px 15px;
  border: none;
  background: #0066ff;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
  font-family: "Poppins";
}

.btn-primary:hover {
  background: #0050cc;
}

/* Hamburger Icon */
/* Hamburger Icon */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  z-index: 1100; /* keep above menu */
}

.bar {
  width: 25px;
  height: 3px;
  background: #333;
  border-radius: 5px;
  transition: 0.3s;
}

/* Animate into X when open */
.hamburger.open .bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.open .bar:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

/* Mobile Menu */
.nav-links.open {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 65px;
  left: 0;
  width: 100%;
  background: #fff;
  padding: 20px 0;
  gap: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.nav-actions-mobile {
  display: none;
  gap: 10px;
  margin-top: 15px;
}

/* Responsive */
@media (max-width: 1024px) {
  .navbar .container {
    padding: 0 1rem;
  }
  .nav-links.open {
    padding: 2rem;
  }
  .nav-links.open .nav-actions-mobile {
    display: flex;
    gap: 10px;
    margin-top: 15px;
  }
  .nav-links {
    display: none;
  }
  .nav-actions {
    display: none;
  }
  .hamburger {
    display: flex;
  }
}

@media (max-width: 768px) {
  .navbar .container {
    padding: 0 1rem;
  }
}

@media (max-width: 480px) {
  .navbar .container {
    padding: 0 10px;
  }
  .nav-links.open {
    padding: 1rem;
  }
}
